img{
    max-width: 250px; 
    margin:auto;
    width: auto;
}
form{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}
.row{
    position: fixed;
    margin-top: 5vh;
}
.col{
    text-align: center;
    max-width: 100%;
}
