
body{
    margin:0;
    background-color: gray;
    color: blanchedalmond;
}
span{
    font-family: 'Brush Script MT', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(235, 6, 6);
    font-size: 30px;
    font-weight: 700;
}

.bodytag{
    margin-left: 15px;
}
.ptag{
    margin-left: 30px;
}
.h1tag{
    margin-left: 30px;
}
.h1text{
    margin-left: 45px;
    font-weight: 1000;
    font-size: 50px;
}
.ptext{
    margin-left: 45px;
    font-weight: 1000;
    font-size: 40px;
}
#rightbox{
    width: 90%;
    display: absolute;
    right: 0;
    margin-top:5%;
    float: right;
    left: auto;
    min-width: 700px;
}
#leftbox{
    width: 10%;
    float: left;
    background-color: black;
    color:white;
    height: 100vh;
    min-width: 100px;
}
#bigbox{
    display: flex;
    margin: auto;
}
div {
    display: block;
}
.home h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2ex;
}
.home div{

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}